<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Lesson 1</title>
    <script src="jquery-3.1.0.js"></script>
    
</head>
<body>
    <div class="form-group col-lg-4">
        <input type="text" class='form-control' placeholder="Send" id="input" >
    </div>
    <div class="form-group col-lg-3">
        <input type="submit" class='btn btn-default' value="Add Todo" id='submit'>
    </div>
    <div class="form-group col-lg-3">
        <input type="submit" class='btn btn-default' value="Clear" id='clear'>
    </div>

    <div id='container' class="col-lg-12">

    </div>

<script src="main.js"></script>
</body>
</html>